/* PC、 スマホ共通スタイル */
body {
    font-family: "sorce Sans Pro", "Hiragino kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p{
    font-size: 15px;
}

/*================
 PC用のスタイル 
=================*/
/* 横幅設定 */
body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  header {
    width:100%;
    padding:0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* ロゴ */
  
  
    /* ナビゲーションのレイアウト */
    #nav-pc {
      text-align: right;
      font-size: 14px;
      padding-top: 15px;
    }
    
    /* ナビゲーションのリンクの装飾設定 */
    #nav-pc > a {
      text-decoration: none;
      margin-left: 20px;
    }
    #nav-pc > a:link {
      color: #0d0d0d;
    }
    #nav-pc > a:visited {
      color: #0d0d0d;
    }
    #nav-pc > a:hover {
      color: #0d0d0d;
      text-decoration: underline;
    }
    #nav-pc > a:active {
      color: #0d0d0d;
    }
/* メインビジュアル */
#main-visual {
    position: relative;
    height: 400px 
  }
#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #88dbf5;
    color: #ffffff;
    border-radius: 0 0 476px 0;
    max-width: 620px;
    height: 100%;
    width: 100%;
    z-index: 11;
  }
  #main-message > h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0 0 50px;
  }
  #main-message > p { 
    font-size: 28px;
    margin: 0 0 0 50px;
  }
  #main-visual > img {
    max-width: 620px;
    border-radius: 476px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  /* 見出し */
  h2 {
    margin: 40px 0 0 0;
  }

  h2::after {
    margin-left: 10px;
  }

  h3 {
    font-size: 27px;
  }

  /* ミッション */
  #mission {
    margin: 80px auto 80px auto;
    width: 100%;
  }
  
  #mission-flex {
    width: 100%;
    display: flex;
  }

  #mission-flex > div {
    width: 50%;
    margin: 20px;
  }
  .favorite-photo {
    display: inline-block; /* 並んだ写真の幅を合わせる */
    height: 80%;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  /* フッター */
  footer {
    background-color: #64a2f1;
    text-align: center;
    padding: 80px 80px 30px 80px;
  }
  